body {
   background-image: url("GrinchMatrix.png");
   background-color: #000;
   color: #ffffff;
   text-align: center;
   padding-top: 5%;
}

section {
   background-color: #000;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

#title {
   text-align: center;
   font-size: 24px;
   color: #05CB14;
}

#message_block, #input_block {
   margin-left: auto;
   margin-right: auto;
}
#message_block { 
   padding-right: 2rem;
   padding-left: 2rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin: auto auto 2rem;
   text-align: start;
   font-family: monospace;
   letter-spacing: .17em;
}
#message {
   border: 2px solid #FAFF00;
}
#input_block {
   margin: auto auto 1rem;
}

#sendit, #mailbox {
   border-radius: 1rem;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
#sendit {
   background-color: #4CAF50; /* Green */
   cursor: pointer;
   border: none;
   color: white;
}
#sendit:hover {
   background-color: #EE0A06; /* Red */
}

#status {
   font-size: 28px;  
}
