body {
   background-color: #000000;
   color: #ffffff;
}

#sendit {
  background-color: #4CAF50; /* Green */
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#sendit:hover {
  background-color: #EE0A06; /* Red */
}
