body {
   background-image: url("GrinchMatrix.png");
   background-color: #000;
   color: #ffffff;
   text-align: center;
   padding-top: 5%;
}

section {
   background-color: #000;
   margin: 2rem 1rem;
}

.bordered {
   border: 2px solid #FAFF00;
   padding: 1rem;
   margin: 1rem;
   text-align: start;
   font-family: monospace;
   letter-spacing: .17em;
   font-size: 16px;
   background-color: #000;
}

#message_block {
   margin: 0rem;
}
#input_block {
   margin: auto auto 1rem;
   padding: 1.5rem;
}
#title {
   text-align: center;
   font-size: 24px;
   color: #05CB14;
}

#sendit, #mailbox {
   border-radius: 1rem;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
#sendit {
   background-color: #4CAF50; /* Green */
   cursor: pointer;
   border: none;
   color: white;
}
#sendit:hover {
   background-color: #EE0A06; /* Red */
}

#status {
   font-size: 28px;  
}
